<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h3>Minimercado</h3>

    <nav>
      <a
        *ngFor="let item of filteredMenu"
        [routerLink]="item.route"
        routerLinkActive="active"
      >
        {{ item.label }}
      </a>
    </nav>
  </aside>

  <!-- CONTENIDO -->
  <div class="content">

    <!-- HEADER -->
    <header class="header">
      <span>Rol: {{ user?.role }}</span>
      <button (click)="logout()">Salir</button>
    </header>

    <!-- VISTAS -->
    <main class="main">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
