.pos-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

.productos button {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
}

table {
  width: 100%;
}

table button {
  margin: 0 3px;
}
